.htaccess
wp-admin/
wp-includes/
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/languages/
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/object-cache.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/plugins/db-cache-reloaded-fix/cache/*
wp-content/wptouch-data/cache/*
wp-content/wptouch-data/debug/*
wp-content/wptouch-data/temp/*
/wp-*.php
/xmlrpc.php
/index.php
/sitemap.xml
/sitemap.xml.gz
/sitemaps/
/readme.html
/readme-ja.html
/license.txt
/local-config.php
/local-salt.php
*.bak
*.back
.sass-cache
node_modules
bower_components
LINGUAS
Makefile

