$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #231f20;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #231f20;
$color__link-visited: #231f20;
$color__link-hover: #ff9c08;
$color__text-main: #313131;

$color__border-button: #231f20;
$color__border-button-hover: #231f20;
$color__border-button-focus: #231f20;
$color__border-input: #ccc;
$color__border-abbr: #666;
