.inner {
	@extend %inner;
}
.site-content {
	background: #ebebe9;
	padding-top: 20px;
	padding-bottom: 20px;
	@include mqPC {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

// home.php
body.home {
	.site-content {
		padding: 0;
		background: #020610 image-url( 'background.png' ) repeat-x center bottom;
	}
	.main-image {
		text-align: center;
		line-height: 1;
		padding: 15px 0;
		@include mqPC {
			padding: 30px 0;
		}
	}
}

.content-area {
	@extend %inner;
}

.site-content .widget-area {
	width: $size__site-sidebar;
}

.site-footer {
	width: $size__site-main;
}