.page-content,
.entry-content,
.entry-summary,
.mceContentBody {
	word-wrap: break-word;

	a {
		color: $color__link-entry;
		&:hover,
		&:focus,
		&:active {
			color: $color__link-entry-hover;
		}
	}
	// link btn
	.btn {
		display: inline-block;
		color: white;
		background-color: $color__link-entry;
		padding: 0.5em 1em;
		border-radius: 3px;
		&:hover,
		&:focus,
		&:active {
			color: white;
			text-decoration: none;
			background-color: $color__link-entry-hover;
		}
	}

	h1, h2, h3, h4, h5, h6, p {
		margin-top: 0;
	}

	h1 {
		background: #fafafa;
		border-top: 4px solid #dedede;
		border-bottom: 2px solid #dedede;
		padding: 5px;
	}
	h2 {
		background-image: image-url( 'title-back.gif' );
		padding: 5px;
	}
	h3 {
		border-top: 4px solid #dedede;
		padding: 5px;
	}
	h4 {
		border-top: 1px solid #dedede;
		padding: 5px;
	}

	table {
		th, td {
			padding: 0.5em;
			border: solid 1px $color__background-hr;
		}
		th {
			background: #eeeeee;
		}
	}
	
	// time table
	table.timetable {
		background: white;
		@include font-size(14);
		@include mqPC {
			@include font-size(12);
			width: 100%;
			table-layout: fixed;
		}
		.time {
			white-space: nowrap;
			@include mqPC {
				width: 4em;
			}
		}
		thead th {
			background: #424346;
			color: white;
			a {
				color: $color__link-hover;
				text-decoration: underline;
			}
		}
		td.time {
			background: #eeeeee;
			text-align: center;
		}
		.long-cell td {
			text-align: center;
		}
		th > p,
		td > p {
			margin-bottom: 0.5em;
			&::last-child {
				margin-bottom: 0;
			}
		}
		
		.footable-row-detail-name {
			width: 5.9em;
		}
		.footable-row-detail-row {
			border-bottom: solid 1px $color__background-hr;
			&:last-child {
				border-bottom: none;
			}
		}
	}

}