.page-header {
	text-align: center;
	margin-bottom: 20px;
	@include mqPC {
		margin-bottom: 40px;
	}
}
.page-title {
	margin: 0;
	@include font-size(36);
	@include mqPC {
		@include font-size(42);
	}
}
.taxonomy-description {
	margin-top: 10px;
	@include mqPC {
		margin-top: 20px;
	}
	p {
		margin: 0;
	}
}

.sticky {
	display: block;
}

.section-title {
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
	@include font-size(24);
	@include mqPC {
		margin-bottom: 20px;
		@include font-size(28);
	}
}

.hentry {
	margin-bottom: 20px;
	padding: 20px;
	background: $color__background-hentry;
	border: 1px solid $color__border-hentry;
	@include mqPC {
		padding: 40px;
	}
	&.supporter-archive {
		padding: 10px;
	}
}

.supporter_type {
	margin-bottom: 20px;
	@include display-flex;
	@include flex-wrap(wrap);
	.supporter-archive {
		width: 48%;
		margin-right: 2%;
		&:nth-of-type(2n) {
			margin-right: 0;
			margin-left: 2%;
		}
		@include mqPC {
			width: 18%;
			margin-right: 2%;
			&:nth-of-type(2n) {
				margin-right: 2%;
				margin-left: 0;
			}
			&:nth-of-type(5n) {
				margin-right: 0;
			}
		}
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.post-thumbnail {
	text-align: center;
	margin-bottom: 15px;
	.supporter-archive & {
		margin-bottom: 5px;
	}
	a, span {
		display: inline-block;
		padding: 4px;
		border: 1px solid $color__border-post-thumbnail;
		background-color: white;
		width: 158px;
		height: 158px;
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
		.supporter-archive & {
			width: 110px;
			height: 110px;
			@include mqPC {
				width: 153px;
				height: 153px;
			}
		}
	}
	@include mqPC {
		float: left;
		margin-right: 40px;
		margin-bottom: 0;
		.supporter-archive & {
			float: none;
			margin-right: 0;
		}
	}
}
.entry-header {
	overflow: hidden;
}

.entry-title {
	@include font-size(24);
	margin: 0;
	clear: none;
	@include mqPC {
		@include font-size(36);
	}
	.supporter-archive & {
		text-align: center;
		@include font-size(16);
	}
}
.entry-meta {
	@include font-size(12);
	margin-top: 10px;
	text-align: right;
}
.session-meta {
	margin-top: 0.5em;
}

.page-content,
.entry-content,
.entry-summary {
}
.entry-content {
	clear: both;
	padding-top: 15px;
}

.entry-summary {
	overflow: hidden;
	margin-top: 15px;
	p {
		margin: 0;
	}
	
	.entry-more {
		margin-top: 1em;
		@include font-size(14);
		text-align: right;
		a {
			display: inline-block;
			border-radius: 3px;
			background: $color__background-more-button;
			color: $color__text-more-button;
			padding: 0.25em 2em;
			
			&:hover, &:active, &:focus {
				color: $color__text-more-button-hover;
				background: $color__background-more-button-hover;
				text-decoration: none;
			}
		}
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// spearker
.speaker {
	clear: both;
	overflow: hidden;
	margin-bottom: 15px;
	.post-thumbnail {
		margin-bottom: 5px;
	}
	.speaker-name {
		font-weight: bold;
		margin-bottom: 0;
		display: inline-block;
		margin-right: 10px;
		@include mqPC {
			@include font-size(24);
		}
	}
	.speaker-sns {
		display: inline-block;
		@include font-size(24);
		a {
			display: inline-block;
			color: $color__text-speaker-sns;
			margin-right: 10px;
		}
	}
	.speaker-profile {
		margin-top: 10px;
		@include font-size(14);
		p {
			margin-top: 0;
			margin-bottom: 0.5em;
		}
		ul, ol, {
			margin-top: 0;
			margin-bottom: 0.5em;
		}
	}
	.speaker-group {
		font-weight: bold;
	}
}

// jetpack
.entry-header {
	.sharedaddy {
		margin-top: 15px;
		@include pie-clearfix;
	}
	div.sharedaddy h3.sd-title {
		display: none;
	}
	.sd-content {
		float: right;
	}
}

// form
.wpcf7 {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="tel"],
	input[type="password"],
	input[type="search"],
	textarea {
		width: 100%;
		margin-top: 0.25em;
	}
	.wpcf7-list-item {
		label {
			display: inline-block;
		}
	}
	.wpcf7-submit {
		display: block;
		margin: 0 auto;
		width: 250px;
	}
}
